p Dear #{data.customer.first_name}|#{data.customer.last_name}
br
p Your order detail
br
p ID                  : #{data.id}
p Subtotal            : #{data.subtotal}
p Subtotal exclude tax: #{data.subtotal_ex_tax}
p Tax                 : #{data.tax_total}
hr
Total                 : #{data.total}
